
body{
  background-color: #ffe6f2;
}
.nav{ 
  font-Family: "Arial, sans-serif";
  background-color: #ffe6f2;
  padding: "20px";
  color: "black";
  }
/*
backgroundColor: "#ffe6f2", padding: "20px", color: "black"*/
  